/*VARIABLES*/
/* FONTS */
/* Font for omf logo - e.g. header */
@font-face {
  font-family: "colaborate-mediumregular";
  src: url("fonts/colaborate_medium_macroman/ColabMed-webfont.eot");
  src: url("fonts/colaborate_medium_macroman/ColabMed-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.woff2") format("woff2"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.woff") format("woff"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.ttf") format("truetype"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.svg#colaborate-mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Font for main omf site - e.g. buttons */
@font-face {
  font-family: "kanitregular";
  src: url("fonts/kanit_regular_macroman/kanit-regular-webfont.eot");
  src: url("fonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.woff2") format("woff2"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.woff") format("woff"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.ttf") format("truetype"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.svg#kanitregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Note restaurant name font*/
@font-face {
  font-family: "merienda";
  src: url("fonts/merienda/Merienda-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Note "menu" font*/
@font-face {
  font-family: "komika_textregular";
  src: url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot");
  src: url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff2") format("woff2"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff") format("woff"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.ttf") format("truetype"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.svg#komika_textregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*music note font*/
@font-face {
  font-family: "noto-sans";
  src: url("fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* note items font*/
@font-face {
  font-family: "sorts_mill_goudyitalic";
  src: url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.eot");
  src: url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.woff2") format("woff2"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.woff") format("woff"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.ttf") format("truetype"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.svg#sorts_mill_goudyitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* chic restaurant name font */
@font-face {
  font-family: "croissant-one";
  src: url("fonts/croissant-one/CroissantOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* chic "menu" font*/
@font-face {
  font-family: "serif-beta";
  src: url("fonts/serif12-beta/Serif12Beta-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
/* delice restaurant name font*/
@font-face {
  font-family: "dancing-script";
  src: url("fonts/dancing-script-ot/dancing-script-ot.otf");
  font-weight: normal;
  font-style: normal;
}
/* palette restaurant name font*/
@font-face {
  font-family: "alegra-sans";
  src: url("fonts/alegreya-sans/AlegreyaSans-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
/*delice and palette "menu" font*/
@font-face {
  font-family: "montezregular";
  src: url("fonts/montez_regular_macroman/Montez-Regular-webfont.eot");
  src: url("fonts/montez_regular_macroman/Montez-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.woff2") format("woff2"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.woff") format("woff"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.ttf") format("truetype"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.svg#montezregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*delice and palette items font*/
@font-face {
  font-family: "andika-italic";
  src: url("fonts/andika-basic/AndikaNewBasic-I.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*DEFINING FONTS*/
/*for omf header*/
/* for omf text other than the header*/
/*font for note enchantee's name - home and menu pages*/
/*font for "menu" of note enchantee - home page*/
/*font for items on menu of note enchantee - menu page*/
/*font for chic francaise's name - home and menu pages*/
/*font for "menu" of chic francaise - home page - & for items on menu page*/
/*font for delice papille's name - home and menu pages*/
/*font for items on menu of delice paille and palette gout - menu page*/
/*font for palette gout's name - home and menu pages*/
/*font for "menu" of delice papille and palette gout - home page*/
/* for the music note for note enchantee*/
/*FONT SIZES*/
/*home page*/
/*menu pages*/
/*DEFINING COLOURS*/
/* Colours */
/*background color for header, footer & buttons*/
/*text color omf text*/
/*text color for note enchantee*/
/*background colour for note enchantee*/
/*darkest colour of note*/
/*lightest color of note*/
/*orange color of chic francaise title*/
/*purple color of chic francaise title*/
/*background color for chic francaise*/
/*text color for chic francaise starters*/
/*text color for chic francaise main courses*/
/*text color for chic francaise deserts*/
/*darkest color of delice papille name*/
/*lightest color of delice papille name*/
/*background color for delice papille*/
/*darkest color of palette gout name*/
/*lightest color of palette gout name*/
/*background color for palette gout*/
/*text color for delice and palette menu items*/
/* ELEMENT SIZES */
/* sizes for the restaurant squares on the home page*/
/*for very small screens*/
/*shadows*/
/*ANIMATIONS*/
/*animation durations*/
/*sizes for soon animation*/
/*MIXINS to be reused throughout the website*/
/* mixin for format of omf sections- excluding header*/
/*mixin for box shadows*/
/* mixins for NOTE ENCHANTEE */
/*Mixins for CHIC A LA FRANCAISE */
/* mixins for DELICE DES PAPILLES*/
/*mixins for PALETTE DU GOUT */
/* SHARED Mixins for DELICE DES PAPILLES & PALETTE DU GOUT */
/*Mixin for underlining course names in menu pages - 
necessary for animation*/
/*RESPONSIVE - media query mixin for different screen sizes*/
/*KEYFRAMES for ANIMATIONS*/
/*animation to wiggle the legal and contact buttons in the footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*animation to enlarge restaurant names in the boxes and make them partially transparent - home page*/
@keyframes enlarge {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}
/* three keyframes necessary to animate the suspension marks in the soon button - home page*/
/* for dot 1*/
@keyframes appear1 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
/*for dot 2*/
@keyframes appear2 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
/*for dot 3*/
@keyframes appear3 {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
body {
  /*general setting for all pages*/
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

/*LAYOUT concerning ALL PAGES*/
main {
  /*set size for the main part of the page - excluding header and footer*/
  width: 80%;
  margin: 5% 10% 7% 10%;
}
@media all and (max-width: 1000px) {
  main {
    /*adjust for smaller screens*/
    width: 100%;
    margin: auto;
  }
}

a {
  /*make sure that all links are not underlined - all other link properties 
    set individually as they (nearly) all have different font, colors and sizes*/
  text-decoration: none;
}

header {
  /* settings for OMF header visible on all pages*/
  height: 100px;
  background-color: #579c87;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.3rem;
  letter-spacing: -5px;
  color: #fdcb46;
  font-family: "colaborate-mediumregular";
  text-align: center;
  margin-bottom: 50px;
}
header a {
  color: #fdcb46;
  /*otherwise link in blue*/
}
@media all and (max-width: 1000px) {
  header {
    font-size: 1.5rem;
    letter-spacing: -3px;
    /*necessary to stop all letters fusing 
    together with the smaller font*/
  }
}

footer {
  /*settings for OMF footer visible on all pages*/
  position: fixed;
  /* stays at bottom of page even when scrolling*/
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #579c87;
}

.btn {
  /*settings for to buttom on footer - legal and contact*/
  padding: 2rem;
}
@media all and (max-width: 1000px) {
  .btn {
    padding: 10px;
  }
}
.btn a {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "kanitregular";
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
}
@media all and (max-width: 1000px) {
  .btn a {
    font-size: 0.98rem;
  }
}
.btn:hover {
  animation: wiggle 200ms ease-in-out 3;
  /*add animation*/
}

/*LAYOUT for HOME PAGE */
.main-home {
  /* set the main part of the home page so that restaurant boxes 
  are above the soon button and all is centered*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.boxes {
  /* put the two rows of boxes one on top of the other*/
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.row {
  /* put boxes in each row side by side... */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*... unless screen is too small: then put them one on top of the other*/
}
@media all and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}

.resto {
  /*set properties common to all restaurant boxes: size, alignement, shadow*/
  width: 450px;
  height: 570px;
  margin: 15px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1), -7px 7px 7px rgba(0, 0, 0, 0.1), -7px -7px 7px rgba(0, 0, 0, 0.1), 7px -7px 7px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 500px) {
  .resto {
    width: 90vw;
    height: 108vw;
  }
}
.resto--note {
  /*set specific properties for restaurant box Nb1- note enchantee*/
  background-color: #fcdfdb;
}
.resto--note strong {
  /*music note formatting*/
  font-family: "noto-sans";
  background: linear-gradient(to right bottom, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.resto--note h2 {
  /*restaurant name formatting*/
  font-family: "merienda";
  color: #3c1218;
  font-size: 2rem;
  margin: 0px 0px 30px 0px;
}
@media all and (max-width: 500px) {
  .resto--note h2 {
    font-size: 7vw;
    margin: 0;
  }
}
.resto--note p {
  /*"menu" on home page formatting*/
  font-family: "komika_textregular";
  color: #3c1218;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0px;
}
.resto--chic {
  /*set specific properties for restaurant box Nb2- chic francaise*/
  background-color: #fff5fe;
}
.resto--chic h2 {
  /*restaurant name formatting*/
  background: linear-gradient(to right bottom, #c77412 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant-one";
  font-size: 2rem;
}
@media all and (max-width: 500px) {
  .resto--chic h2 {
    margin-top: 6vh;
    font-size: 7vw;
  }
}
.resto--chic p {
  /*"menu" on home page formatting*/
  font-family: "serif-beta";
  color: #c77412;
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .resto--chic p {
    margin: 0;
  }
}
.resto--delice {
  /*set specific properties for restaurant box Nb3- delice papilles*/
  background-color: #eef0f0;
}
.resto--delice h2 {
  /*restaurant name formatting*/
  background: linear-gradient(to right, #0023db 0%, 30%, #108dfb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "dancing-script";
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .resto--delice h2 {
    margin-top: 6vh;
    font-size: 10.5vw;
  }
}
.resto--delice p {
  /*"menu" on home page formatting*/
  font-family: "montezregular";
  color: #108dfb;
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .resto--delice p {
    margin: 0;
  }
}
.resto--palette {
  /*set specific properties for restaurant box Nb4- palette gout*/
  background-color: #fdfffd;
}
.resto--palette h2 {
  /*restaurant name formatting*/
  background: linear-gradient(to right bottom, #3d9339 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "alegra-sans";
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .resto--palette h2 {
    margin-top: 6vh;
    font-size: 10.5vw;
  }
}
.resto--palette p {
  /*"menu" on home page formatting*/
  font-family: "montezregular";
  color: #3d9339;
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .resto--palette p {
    margin: 0;
  }
}
.resto_name {
  /*set properties common to all restaurant names within the boxes*/
  text-align: center;
}
.resto_name:hover {
  /*add animation for restaurant names*/
  animation: enlarge 400ms forwards;
}

.soon {
  /*set properties for soon button - NB: doesn't do anything*/
  background-color: #579c87;
  color: #fdcb46;
  font-family: "kanitregular";
  text-align: center;
  font-size: 2.2rem;
  text-decoration: none;
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  border-radius: 20px;
}
@media all and (max-width: 1000px) {
  .soon {
    width: 250px;
    height: 50px;
    margin-bottom: 100px;
    font-size: 1.65rem;
  }
}

.suspension {
  /*set container for suspension marks in soon button*/
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10px;
}
@media all and (max-width: 1000px) {
  .suspension {
    width: 30px;
    height: 20px;
  }
}

.dot {
  /*set properties for individual dots*/
  background-color: #fdcb46;
  width: 5px;
  height: 5px;
}
@media all and (max-width: 1000px) {
  .dot {
    width: 3.75px;
    height: 3.75px;
  }
}
.dot--1 {
  /*add animation to suspension marks - different animation for each 
  dot allows them to remain synchronised on a infinite loop*/
  animation: appear1 2.5s 500ms both infinite;
}
.dot--2 {
  animation: appear2 2.5s 500ms both infinite;
}
.dot--3 {
  animation: appear3 2.5s 500ms both infinite;
}

/*LAYOUT for MENU PAGES*/
.main-menu {
  /*settings that apply to all menu pages - 
  box shadow, general layout, items font size*/
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1), -7px 7px 7px rgba(0, 0, 0, 0.1), -7px -7px 7px rgba(0, 0, 0, 0.1), 7px -7px 7px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 1000px) {
  .main-menu {
    width: 90%;
    margin-bottom: 100px;
  }
}
.main-menu article {
  /*display starters, main course and deserts one above the other*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}
.main-menu .meal {
  /*display the meal item next to its price*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
}
.main-menu p {
  font-size: 1.5rem;
  padding-right: 5px;
}
@media all and (max-width: 1000px) {
  .main-menu p {
    font-size: 1.05rem;
  }
}
.main-menu .price {
  /*set prices in bold for all menu pages*/
  font-weight: bold;
}

.resto-header {
  /*settings for the restaurant name*/
  text-align: center;
  padding-top: 2%;
}

.course-name {
  /*settings for course names*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.course-name h2 {
  text-align: center;
  margin: 0;
  white-space: nowrap;
  /*stop course titles being split 
  into several lines when screen gets smaller*/
}

img {
  /*settings for decorative lines next to course names*/
  height: 14px;
  width: 200px;
}
@media all and (max-width: 1000px) {
  img {
    display: none;
  }
}

/*LAYOUT specific to the NOTE ENCHANTEE page*/
.main--note {
  background-color: #fcdfdb;
}
.main--note .h2 {
  /*settings for the course names*/
  /*restaurant name formatting*/
  font-family: "merienda";
  color: #3c1218;
  font-size: 2rem;
  font-size: 2rem;
  position: relative;
}
@media all and (max-width: 500px) {
  .main--note .h2 {
    font-size: 1.4rem;
  }
}
.main--note .h2--starters::before {
  /*add line under course titles ready for animation- 
  one per course as all different lengths*/
  content: "";
  border-bottom: 5px solid #3c1218;
  position: absolute;
  bottom: 0;
  width: 125px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--note .h2--starters::before {
    /*reduce line length to match smaller writing used for very small screens*/
    content: "";
    border-bottom: 5px solid #3c1218;
    position: absolute;
    bottom: 0;
    width: 85px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--note .h2--courses::before {
  content: "";
  border-bottom: 5px solid #3c1218;
  position: absolute;
  bottom: 0;
  width: 220px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--note .h2--courses::before {
    content: "";
    border-bottom: 5px solid #3c1218;
    position: absolute;
    bottom: 0;
    width: 155px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--note .h2--desert::before {
  content: "";
  border-bottom: 5px solid #3c1218;
  position: absolute;
  bottom: 0;
  width: 280px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--note .h2--desert::before {
    content: "";
    border-bottom: 5px solid #3c1218;
    position: absolute;
    bottom: 0;
    width: 195px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--note .h2:hover::before {
  /*add hover animations*/
  transform: scaleX(1);
}
.main--note p {
  /*a different fornt is used for the items than the restaurant and course names for this page*/
  font-family: "sorts_mill_goudyitalic";
}

.resto-header--note {
  /*settings of restaurant header specific to the note page*/
  padding-top: 0%;
}
.resto-header--note strong {
  /*settings for the music note specific to the note page*/
  /*music note formatting*/
  font-family: "noto-sans";
  background: linear-gradient(to right bottom, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
}
.resto-header--note h1 {
  /*restaurant name formatting*/
  font-family: "merienda";
  color: #3c1218;
  font-size: 3rem;
  margin: 0%;
}
@media all and (max-width: 500px) {
  .resto-header--note h1 {
    font-size: 1.8rem;
  }
}

.resto-footer {
  /*settings for restaurant footer - only present for the note enchantee page*/
  text-align: center;
  padding-bottom: 10%;
}
.resto-footer p {
  /*restaurant name formatting*/
  font-family: "merienda";
  color: #3c1218;
  font-size: 2.5rem;
}
@media all and (max-width: 500px) {
  .resto-footer p {
    font-size: 1.2rem;
  }
}
.resto-footer strong {
  /*music note formatting*/
  font-family: "noto-sans";
  background: linear-gradient(to right bottom, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}
@media all and (max-width: 500px) {
  .resto-footer strong {
    font-size: 2rem;
  }
}

/*LAYOUT specific to the CHIC A LA FRANCAISE page */
.main--chic {
  background-color: #fff5fe;
  /*Sets the different colors for the different courses present on this page*/
  /*settings for the course names... */
}
.main--chic .starters {
  color: #c67412;
}
.main--chic .main-courses {
  color: #a56799;
}
.main--chic .desert {
  color: #6e4ccc;
}
.main--chic .h2 {
  /*... general to all courses*/
  font-family: "serif-beta";
  font-size: 1.9rem;
  position: relative;
  /*...specific to each course type: starters, main course, desert*/
}
@media all and (max-width: 500px) {
  .main--chic .h2 {
    font-size: 1.4rem;
  }
}
.main--chic .h2--starters::before {
  /*add line under course titles ready for animation- 
  one per course as all different lengths*/
  content: "";
  border-bottom: 5px solid #c67412;
  position: absolute;
  bottom: 0;
  width: 375px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--chic .h2--starters::before {
    /*reduce line length to match smaller writing used for very small screens*/
    content: "";
    border-bottom: 5px solid #c67412;
    position: absolute;
    bottom: 0;
    width: 275px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--chic .h2--courses::before {
  content: "";
  border-bottom: 5px solid #a56799;
  position: absolute;
  bottom: 0;
  width: 275px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--chic .h2--courses::before {
    content: "";
    border-bottom: 5px solid #a56799;
    position: absolute;
    bottom: 0;
    width: 200px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--chic .h2--desert::before {
  content: "";
  border-bottom: 5px solid #6e4ccc;
  position: absolute;
  bottom: 0;
  width: 335px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--chic .h2--desert::before {
    content: "";
    border-bottom: 5px solid #6e4ccc;
    position: absolute;
    bottom: 0;
    width: 245px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--chic .h2:hover::before {
  /*add hover animations*/
  transform: scale(1);
}

.resto-header--chic {
  /*settings of restaurant header specific to the chic page*/
}
.resto-header--chic h1 {
  /*restaurant name formatting*/
  background: linear-gradient(to right bottom, #c77412 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant-one";
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  .resto-header--chic h1 {
    font-size: 1.8rem;
  }
}

/*LAYOUT specific to the DELICE DES PAPILLES page*/
.main--delice {
  background-color: #eef0f0;
  font-family: "andika-italic";
  font-size: 1.5rem;
}
.main--delice .h2 {
  /*settings for the course names*/
  font-size: 2rem;
  position: relative;
}
@media all and (max-width: 500px) {
  .main--delice .h2 {
    font-size: 1.4rem;
  }
}
.main--delice .h2--starters::before {
  /*add line under course titles ready for animation- 
  one per course as all different lengths*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 320px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--delice .h2--starters::before {
    /*reduce line length to match smaller writing used for very small screens*/
    content: "";
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    width: 230px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--delice .h2--courses::before {
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 300px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--delice .h2--courses::before {
    content: "";
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    width: 210px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--delice .h2--desert::before {
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 280px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--delice .h2--desert::before {
    content: "";
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    width: 210px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--delice .h2:hover::before {
  /*add hover animations*/
  transform: scaleX(1);
}

.resto-header--delice {
  /*settings of restaurant header specific to the delice page*/
}
.resto-header--delice h1 {
  /*restaurant name formatting*/
  background: linear-gradient(to right, #0023db 0%, 30%, #108dfb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "dancing-script";
  font-size: 4.5rem;
}
@media all and (max-width: 500px) {
  .resto-header--delice h1 {
    font-size: 2.7rem;
  }
}

/*LAYOUT specific to the PALETTE DU GOUT page*/
.main--palette {
  background-color: #fdfffd;
  font-family: "andika-italic";
  font-size: 1.5rem;
}
.main--palette .h2 {
  /*settings for the course names*/
  font-size: 2rem;
  position: relative;
}
@media all and (max-width: 500px) {
  .main--palette .h2 {
    font-size: 1.4rem;
  }
}
.main--palette .h2--starters::before {
  /*add line under course titles ready for animation- 
  one per course as all different lengths*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 130px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--palette .h2--starters::before {
    /*reduce line length to match smaller writing used for very small screens*/
    content: "";
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    width: 90px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--palette .h2--courses::before {
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 260px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--palette .h2--courses::before {
    content: "";
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    width: 180px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--palette .h2--desert::before {
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 290px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
@media all and (max-width: 500px) {
  .main--palette .h2--desert::before {
    content: "";
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    width: 200px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
  }
}
.main--palette .h2:hover::before {
  /*add hover animations*/
  transform: scaleX(1);
}

.resto-header--palette {
  /*settings of restaurant header specific to the palette page*/
}
.resto-header--palette h1 {
  /*restaurant name formatting*/
  background: linear-gradient(to right bottom, #3d9339 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "alegra-sans";
  font-size: 4.5rem;
}
@media all and (max-width: 500px) {
  .resto-header--palette h1 {
    font-size: 2.7rem;
  }
}

/*LAYOUT specific to the LEGAL page*/
.main-legal {
  padding: 10px;
}
.main-legal h2 {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
