/* FONTS */
/* Font for omf logo - e.g. header */
@font-face {
  font-family: "colaborate-mediumregular";
  src: url("fonts/colaborate_medium_macroman/ColabMed-webfont.eot");
  src: url("fonts/colaborate_medium_macroman/ColabMed-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.woff2") format("woff2"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.woff") format("woff"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.ttf") format("truetype"), url("fonts/colaborate_medium_macroman/ColabMed-webfont.svg#colaborate-mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Font for main omf site - e.g. buttons */
@font-face {
  font-family: "kanitregular";
  src: url("fonts/kanit_regular_macroman/kanit-regular-webfont.eot");
  src: url("fonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.woff2") format("woff2"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.woff") format("woff"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.ttf") format("truetype"), url("fonts/kanit_regular_macroman/kanit-regular-webfont.svg#kanitregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Note font*/
@font-face {
  font-family: "merienda";
  src: url("fonts/merienda/Merienda-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Note menu font*/
@font-face {
  font-family: "komika_textregular";
  src: url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot");
  src: url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff2") format("woff2"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff") format("woff"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.ttf") format("truetype"), url("fonts/komikatext_regular_macroman/KOMTXT__-webfont.svg#komika_textregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* chic font */
@font-face {
  font-family: "croissant-one";
  src: url("fonts/croissant-one/CroissantOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* chic menu font*/
@font-face {
  font-family: "serif-beta";
  src: url("fonts/serif12-beta/Serif12Beta-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
/* delice font*/
@font-face {
  font-family: "dancing-script";
  src: url("fonts/dancing-script-ot/dancing-script-ot.otf");
  font-weight: normal;
  font-style: normal;
}
/* palette font*/
@font-face {
  font-family: "alegra-sans";
  src: url("fonts/alegreya-sans/AlegreyaSans-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
/*delice and palette menu*/
@font-face {
  font-family: "montezregular";
  src: url("fonts/montez_regular_macroman/Montez-Regular-webfont.eot");
  src: url("fonts/montez_regular_macroman/Montez-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.woff2") format("woff2"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.woff") format("woff"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.ttf") format("truetype"), url("fonts/montez_regular_macroman/Montez-Regular-webfont.svg#montezregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*music note font*/
@font-face {
  font-family: "noto-sans";
  src: url("fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* note items font*/
@font-face {
  font-family: "sorts_mill_goudyitalic";
  src: url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.eot");
  src: url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.woff2") format("woff2"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.woff") format("woff"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.ttf") format("truetype"), url("fonts/sortsmillgoudy_italic_macroman/GoudyStM-Italic-webfont.svg#sorts_mill_goudyitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*delice items font*/
@font-face {
  font-family: "andika-italic";
  src: url("fonts/andika-basic/AndikaNewBasic-I.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*DEFINING FONTS*/
/*for omf header*/
/* for omf text other than the header*/
/*font for note enchantee's name - home and menu pages*/
/*font for "menu" of note enchantee - home page*/
/*font for items on menu of note enchantee - menu page*/
/*font for chic francaise's name - home and menu pages*/
/*font for "menu" of chic francaise - home page - & for items on menu page*/
/*font for delice papille's name - home and menu pages*/
/*font for items on menu of delice paille and palette gout - menu page*/
/*font for palette gout's name - home and menu pages*/
/*font for "menu" of delice papille and palette gout - home page*/
/* for the music note for note enchantee*/
/*FONT SIZES*/
/*home page*/
/*menu pages*/
/*DEFINING COLOURS*/
/* Colours */
/*background color for header, footer & buttons*/
/*text color omf text*/
/*text color for note enchantee*/
/*background colour for note enchantee*/
/*darkest colour of note*/
/*lightest color of note*/
/*orange color of chic francaise title*/
/*purple color of chic francaise title*/
/*background color for chic francaise*/
/*text color for chic francaise starters*/
/*text color for chic francaise main courses*/
/*text color for chic francaise deserts*/
/*darkest color of delice papille name*/
/*lightest color of delice papille name*/
/*background color for delice papille*/
/*shadows home page*/
/* ELEMENT SIZES home page*/
/* sizes for the restaurant squares on the home page*/
/*ANIMATIONS*/
/*animation durations*/
/* mixin for header format*/
/* mixin for format of other omf sections*/
/*mixin for box shadows*/
/* mixins for Note Enchantee pages*/
/*Mixins for chic a la francaise pages */
/* mixins for delice des papilles pages*/
/*mixins for palette du gout pages */
/*Mixins for delice & papille menu */
/*Mixin for underlining course names in menu pages*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}
@keyframes appear1 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes appear2 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes appear3 {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
body {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box;
}

.btn {
  padding: 2rem;
}
.btn a {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "kanitregular";
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
}
.btn:hover {
  animation: wiggle 200ms ease-in-out 3;
}

a {
  text-decoration: none;
}

main {
  width: 80%;
  margin: 5% 10% 7% 10%;
}

header {
  height: 170px;
  background-color: #579c87;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.7rem;
  color: #fdcb46;
  font-family: "colaborate-mediumregular";
  text-align: center;
  letter-spacing: -8px;
}
header a {
  text-decoration: none;
  color: #fdcb46;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1500px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "kanitregular";
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-home {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 90px;
}

.resto {
  width: 450px;
  height: 570px;
  margin: 15px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1), -7px 7px 7px rgba(0, 0, 0, 0.1), -7px -7px 7px rgba(0, 0, 0, 0.1), 7px -7px 7px rgba(0, 0, 0, 0.1);
}
.resto--note {
  background-color: #fcdfdb;
}
.resto--note strong {
  font-family: "noto-sans";
  background: linear-gradient(to right bottom, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.resto--note h2 {
  font-family: "merienda";
  color: #3c1218;
  font-size: 2rem;
  margin: 0px 0px 10% 0px;
}
.resto--note p {
  font-family: "komika_textregular";
  color: #3c1218;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0px;
}
.resto--chic {
  background-color: #fff5fe;
}
.resto--chic h2 {
  background: linear-gradient(to right bottom, #c77412 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant-one";
  font-size: 2rem;
}
.resto--chic p {
  font-family: "serif-beta";
  color: #c77412;
  font-size: 3rem;
}
.resto--delice {
  background-color: #f9f9f9;
}
.resto--delice h2 {
  background: linear-gradient(to right, #0023db 0%, 30%, #108dfb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "dancing-script";
  font-size: 3rem;
}
.resto--delice p {
  font-family: "montezregular";
  color: #108dfb;
  font-size: 3rem;
}
.resto--palette {
  background-color: #fdfffd;
}
.resto--palette h2 {
  background: linear-gradient(to right bottom, #3d9339 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "alegra-sans";
  font-size: 3rem;
}
.resto--palette p {
  font-family: "montezregular";
  color: #3d9339;
  font-size: 3rem;
}
.resto_name {
  width: 420px;
  height: 210px;
  text-align: center;
}
.resto_name:hover {
  animation: enlarge 400ms forwards;
}

.soon {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "kanitregular";
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 20px;
}

.suspension {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 7px;
}

.dot {
  background-color: #fdcb46;
  width: 7px;
  height: 7px;
}
.dot--1 {
  animation: appear1 2.5s 500ms both infinite;
}
.dot--2 {
  animation: appear2 2.5s 500ms both infinite;
}
.dot--3 {
  animation: appear3 2.5s 500ms both infinite;
}

.main-menu {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1), -7px 7px 7px rgba(0, 0, 0, 0.1), -7px -7px 7px rgba(0, 0, 0, 0.1), 7px -7px 7px rgba(0, 0, 0, 0.1);
}
.main-menu article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}
.main-menu section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
}
.main-menu p {
  font-size: 1.5rem;
}

.resto-header {
  text-align: center;
  padding-top: 2%;
  font-size: 2rem;
}

h2 {
  text-align: center;
}

.resto-footer {
  text-align: center;
  padding-bottom: 10%;
}

.main--note {
  background-color: #fcdfdb;
}
.main--note .h2 {
  font-family: "merienda";
  color: #3c1218;
  font-size: 2.5rem;
  font-size: 2.5rem;
  position: relative;
}
.main--note .h2--starters::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid #3c1218;
  position: absolute;
  bottom: 0;
  width: 150px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--note .h2--courses::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid #3c1218;
  position: absolute;
  bottom: 0;
  width: 275px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--note .h2--desert::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid #3c1218;
  position: absolute;
  bottom: 0;
  width: 340px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--note .h2:hover::before {
  /*add hover animations*/
  transform: scaleX(1);
}
.main--note p {
  font-family: "sorts_mill_goudyitalic";
}
.main--note .price {
  font-weight: bold;
}

.resto-header--note {
  padding-top: 0%;
}
.resto-header--note strong {
  font-family: "noto-sans";
  background: linear-gradient(to right bottom, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
}
.resto-header--note h1 {
  font-family: "merienda";
  color: #3c1218;
  font-size: 3.5rem;
  margin: 0%;
}

.resto-footer p {
  font-family: "merienda";
  color: #3c1218;
  font-size: 2.5rem;
}
.resto-footer strong {
  font-family: "noto-sans";
  background: linear-gradient(to right bottom, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.main--chic {
  background-color: #fff5fe;
  font-family: "serif-beta";
}
.main--chic h2 {
  font-size: 2.5rem;
  position: relative;
}
.main--chic .starters {
  color: #c67412;
}
.main--chic .starters h2::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid #c67412;
  position: absolute;
  bottom: 0;
  width: 545px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--chic .starters h2:hover::before {
  /*add hover animations*/
  transform: scaleX(0.9);
}
.main--chic .main-courses {
  color: #a56799;
}
.main--chic .main-courses h2::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid #a56799;
  position: absolute;
  bottom: 0;
  width: 530px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--chic .main-courses h2:hover::before {
  /*add hover animations*/
  transform: scaleX(0.68);
}
.main--chic .desert {
  color: #6e4ccc;
}
.main--chic .desert h2::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid #6e4ccc;
  position: absolute;
  bottom: 0;
  width: 550px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--chic .desert h2:hover::before {
  /*add hover animations*/
  transform: scaleX(0.8);
}
.main--chic .price {
  font-weight: bold;
}

.resto-header--chic h1 {
  background: linear-gradient(to right bottom, #c77412 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant-one";
  font-size: 3.5rem;
}

.main--delice {
  background-color: #f9f9f9;
  font-family: "andika-italic";
  font-size: 1.5rem;
}
.main--delice .h2 {
  font-size: 2.5rem;
  position: relative;
}
.main--delice .h2--starters::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 400px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--delice .h2--courses::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 370px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--delice .h2--desert::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 360px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--delice .h2:hover::before {
  /*add hover animations*/
  transform: scaleX(1);
}
.main--delice .price {
  font-weight: bold;
}

.resto-header--delice h1 {
  background: linear-gradient(to right, #0023db 0%, 30%, #108dfb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "dancing-script";
  font-size: 5.25rem;
}

.main--palette {
  /*set main properties for page excluing header and footer*/
  background-color: #fdfffd;
  font-family: "andika-italic";
  font-size: 1.5rem;
}
.main--palette .h2 {
  /*set properties for course titles*/
  font-size: 2.5rem;
  position: relative;
}
.main--palette .h2--starters::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 160px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--palette .h2--courses::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 325px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--palette .h2--desert::before {
  /*add line under course titles ready for animation*/
  content: "";
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 360px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms;
}
.main--palette .h2:hover::before {
  transform: scaleX(1);
}
.main--palette .price {
  /*make prices on list bold*/
  font-weight: bold;
}

.resto-header--palette {
  /*set properties and font for the restaurant name*/
}
.resto-header--palette h1 {
  background: linear-gradient(to right bottom, #3d9339 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "alegra-sans";
  font-size: 5.25rem;
}

/*# sourceMappingURL=style.css.map */
