/*KEYFRAMES for ANIMATIONS*/
/*animation to wiggle the legal and contact buttons in the footer*/
@keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(7deg);
    }
    50%{
        transform: rotate(0deg); 
    }
    75%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*animation to enlarge restaurant names in the boxes and make them partially transparent - home page*/
@keyframes enlarge{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0.6;
    }
}

/* three keyframes necessary to animate the suspension marks in the soon button - home page*/
/* for dot 1*/
@keyframes appear1{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    95%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}

/*for dot 2*/
@keyframes appear2{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    95%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}

/*for dot 3*/
@keyframes appear3{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(0);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    95%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}