/*MIXINS to be reused throughout the website*/
/* mixin for format of omf sections- excluding header*/
@mixin omf-txt-site ($font-size) {
    background-color: $main-bg-color;
    color: $main-txt-color;
    font-family: $omf-font;
    text-align: center;
    font-size: $font-size;
    text-decoration: none;
}

/*mixin for box shadows*/
@mixin shadow ($size) {
    box-shadow: $shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                $shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity);
}

/* mixins for NOTE ENCHANTEE */
@mixin note-name ($font-size){/*restaurant name formatting*/
    font-family: $note-name-font;
    color: $note-txt-clr;
    font-size: $font-size;
}

@mixin note-menu {/*"menu" on home page formatting*/
    font-family: $note-menu-font;
    color: $note-txt-clr;
    font-size: $menu-size-home;
    text-transform: uppercase;
}

@mixin music-note ($font-size) {/*music note formatting*/
    font-family: $music-font;
    background: linear-gradient(to right bottom, $music-clr-drk 0%, $music-clr-lgt 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font-size;
}

/*Mixins for CHIC A LA FRANCAISE */
@mixin chic-name ($font-size){/*restaurant name formatting*/
    background: linear-gradient(to right bottom, $chic-txt-clr-or 0%, $chic-txt-clr-pu 100%);
	        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: $chic-name-font;
            font-size: $font-size;
}

@mixin chic-menu{/*"menu" on home page formatting*/
    font-family: $chic-menu-font;
    color: $chic-txt-clr-or;
    font-size: $menu-size-home;
}

/* mixins for DELICE DES PAPILLES*/
@mixin delice-name ($font-size){/*restaurant name formatting*/
    background: linear-gradient(to right, $delice-txt-clr-drk 0%, 30%, $delice-txt-clr-lgt 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $delice-name-font;
    font-size: $font-size;
}

/*mixins for PALETTE DU GOUT */
@mixin palette-name ($font-size){/*restaurant name formatting*/
    background: linear-gradient(to right bottom, $palette-txt-clr-drk 0%, $palette-txt-clr-lgt 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $palette-name-font;
    font-size: $font-size;
}

/* SHARED Mixins for DELICE DES PAPILLES & PALETTE DU GOUT */
@mixin del-pal-menu ($color) {/*"menu" on home page formatting*/
    font-family: $del-pal-menu;
    color: $color;
    font-size: $menu-size-home;
}

/*Mixin for underlining course names in menu pages - 
necessary for animation*/
@mixin underline ($color: $pal-del-item-clr, $width:50%){
    content:"";
    border-bottom: 5px solid $color;
    position: absolute;
    bottom: 0;
    width: $width;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
}

/*RESPONSIVE - media query mixin for different screen sizes*/
@mixin small-screen{
    @media all and (max-width: 1000px){@content};
}

@mixin very-small-screen{
    @media all and (max-width: 500px){@content};
}