/* mixin for format of omf sections, excluding header*/
@mixin omf-txt-site ($font-size) {
    background-color: $main-bg-color;
    color: $main-txt-color;
    font-family: $omf-font;
    text-align: center;
    font-size: $font-size;
    text-decoration: none;
}

/*mixin for box shadows*/
@mixin shadow ($size) {
    box-shadow: $shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                $shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity);
}

/* mixins for Note Enchantee pages*/
@mixin note-name ($font-size){
    font-family: $note-name-font;
    color: $note-txt-clr;
    font-size: $font-size;
}

@mixin note-menu {
    font-family: $note-menu-font;
    color: $note-txt-clr;
    font-size: $menu-size-home;
    text-transform: uppercase;
}

@mixin music-note ($font-size) {
    font-family: $music-font;
    background: linear-gradient(to right bottom, $music-clr-drk 0%, $music-clr-lgt 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font-size;
}

/*Mixins for chic a la francaise pages */
@mixin chic-name ($font-size){
    background: linear-gradient(to right bottom, $chic-txt-clr-or 0%, $chic-txt-clr-pu 100%);
	        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: $chic-name-font;
            font-size: $font-size;
}

@mixin chic-menu{
    font-family: $chic-menu-font;
    color: $chic-txt-clr-or;
    font-size: $menu-size-home;
}

/* mixins for delice des papilles pages*/
@mixin delice-name ($font-size){
    background: linear-gradient(to right, $delice-txt-clr-drk 0%, 30%, $delice-txt-clr-lgt 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $delice-name-font;
    font-size: $font-size;
}

/*mixins for palette du gout pages */
@mixin palette-name ($font-size){
    background: linear-gradient(to right bottom, $palette-txt-clr-1 0%, $palette-txt-clr-2 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $palette-name-font;
    font-size: $font-size;
}

/*Mixins for delice & papille menu */
@mixin del-pal-menu ($color) {
    font-family: $del-pal-menu;
    color: $color;
    font-size: $menu-size-home;
}

/*Mixin for underlining course names in menu pages*/
@mixin underline ($color: black, $width:50%){
    content:"";
    border-bottom: 5px solid $color;
    position: absolute;
    bottom: 0;
    width: $width;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms;
}

/*media query mixin for responsiveness*/
@mixin small-screen{
    @media all and (max-width: 1000px){@content};
}

@mixin very-small-screen{
    @media all and (max-width: 470px){@content};
}