/* FONTS */
/* Font for omf logo - e.g. header */
@font-face {
    font-family: 'colaborate-mediumregular';
    src: url('fonts/colaborate_medium_macroman/ColabMed-webfont.eot');
    src: url('fonts/colaborate_medium_macroman/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/colaborate_medium_macroman/ColabMed-webfont.woff2') format('woff2'),
         url('fonts/colaborate_medium_macroman/ColabMed-webfont.woff') format('woff'),
         url('fonts/colaborate_medium_macroman/ColabMed-webfont.ttf') format('truetype'),
         url('fonts/colaborate_medium_macroman/ColabMed-webfont.svg#colaborate-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Font for main omf site - e.g. buttons */
@font-face {
    font-family: 'kanitregular';
    src: url('fonts/kanit_regular_macroman/kanit-regular-webfont.eot');
    src: url('fonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kanit_regular_macroman/kanit-regular-webfont.woff2') format('woff2'),
         url('fonts/kanit_regular_macroman/kanit-regular-webfont.woff') format('woff'),
         url('fonts/kanit_regular_macroman/kanit-regular-webfont.ttf') format('truetype'),
         url('fonts/kanit_regular_macroman/kanit-regular-webfont.svg#kanitregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Note font*/
@font-face {
    font-family: 'merienda';
        src: url('fonts/merienda/Merienda-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

/*Note menu font*/
@font-face {
    font-family: 'komika_textregular';
    src: url('fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot');
    src: url('fonts/komikatext_regular_macroman/KOMTXT__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff2') format('woff2'),
         url('fonts/komikatext_regular_macroman/KOMTXT__-webfont.woff') format('woff'),
         url('fonts/komikatext_regular_macroman/KOMTXT__-webfont.ttf') format('truetype'),
         url('fonts/komikatext_regular_macroman/KOMTXT__-webfont.svg#komika_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* chic font */
@font-face {
font-family: 'croissant-one';
    src: url('fonts/croissant-one/CroissantOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* chic menu font*/
@font-face {
    font-family: 'serif-beta';
        src: url('fonts/serif12-beta/Serif12Beta-Bold.otf');
        font-weight: normal;
        font-style: normal;
    }

/* delice font*/
@font-face {
    font-family: 'dancing-script';
        src: url('fonts/dancing-script-ot/dancing-script-ot.otf');
        font-weight: normal;
        font-style: normal;
    }

/* palette font*/
@font-face {
    font-family: 'alegra-sans';
        src: url('fonts/alegreya-sans/AlegreyaSans-Italic.otf');
        font-weight: normal;
        font-style: normal;
    }

/*delice and palette menu*/
@font-face {
    font-family: 'montezregular';
    src: url('fonts/montez_regular_macroman/Montez-Regular-webfont.eot');
    src: url('fonts/montez_regular_macroman/Montez-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montez_regular_macroman/Montez-Regular-webfont.woff2') format('woff2'),
         url('fonts/montez_regular_macroman/Montez-Regular-webfont.woff') format('woff'),
         url('fonts/montez_regular_macroman/Montez-Regular-webfont.ttf') format('truetype'),
         url('fonts/montez_regular_macroman/Montez-Regular-webfont.svg#montezregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*music note font*/
@font-face {
    font-family: 'noto-sans';
        src: url('fonts/Noto_Sans/NotoSans-Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

/*DEFINING FONTS*/
$title-font: "colaborate-mediumregular";
$site-font: "kanitregular";
$note-font: "merienda";
$note-menu-font: "komika_textregular";
$chic-font: "croissant-one";
$chic-menu-font: "serif-beta";
$delice-font: "dancing-script";
$palette-font: "alegra-sans";
$del-pal-menu: "montezregular";
$music-font: "noto-sans";

/*menu font size*/
$soon-font-size:2.5rem;
$footer-font-size: 1.4rem;
$resto-size-home: 2rem;
$menu-size-home: 3rem;
$music-size-home: 3rem;

/*DEFINING COLOURS*/
/* Colours */
$main-bg-color: #579c87;
$main-txt-color: #fdcb46;
$note-txt-clr: #3c1218;
$note-bg-clr:  #fcdfdb;
$chic-txt-clr-1: #c77412;
$chic-txt-clr-2: #905bfd;
$chic-bg-clr: #fff5fe;
$delice-txt-clr-1: #0431df;
$delice-txt-clr-2: #0887fb;
$delice-bg-clr: #f9f9f9;
$palette-txt-clr-1: #3d9339;
$palette-txt-clr-2: #bfff7e;
$palette-bg-clr: #fdfffd;
$music-clr-drk: #f04a5e;
$music-clr-lgt: #f78f6a;

/*shadows home page*/
$shadow-opacity: 0.1;

/* ELEMENT SIZES home page*/
/* sizes for the restaurant squares on the home page*/
$square-width: 450px;
$square-height: 570px;
$shadow-size: 7px;