.main--delice{
    background-color: $delice-bg-clr;
    font-family: $del-pal-item-font;
    font-size: $items-font-size;
    .h2{
        font-size: $courses-font-size;
        position: relative;
        &--starters::before{/*add line under course titles ready for animation*/
           @include underline (black, 400px); 
        }
        &--courses::before{/*add line under course titles ready for animation*/
            @include underline (black, 370px); 
         }
         &--desert::before{/*add line under course titles ready for animation*/
            @include underline (black, 360px); 
         }
        &:hover::before{/*add hover animations*/
            transform:scaleX(1);
        }
        
    }
    .price{
        font-weight: bold;
    }
}



.resto-header--delice {
    h1{
        @include delice-name(1.5*$resto-size-menu);
    }
}