.main--note{
    background-color: $note-bg-clr;
    .h2{
        @include note-name ($courses-font-size);
        font-size: $courses-font-size;
        position: relative;
        &::before{/*add line under course titles ready for animation*/
           @include underline ($note-txt-clr); 
        }
        &--starters:hover::before{/*add hover animations*/
            transform:scaleX(0.3);
        }
        &--courses:hover::before{
            transform:scaleX(0.5);
        }
        &--desert:hover::before{
            transform:scaleX(0.65);
        }
    }
    p{
        font-family: $note-items-font;  
      }
      .price{
          font-weight: bold;
      }
}

.resto-header--note {
    padding-top: 0%;
    strong{
        @include music-note (7rem);
    }
    h1{
        @include note-name ($resto-size-menu);
        margin: 0%;
    }
}

.resto-footer{
    p{
        @include note-name(2.5rem);
    }
    strong{
        @include music-note(4rem);
    }
}






