header{
    height: 100px;
    background-color: $main-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 5rem;
        color: $main-txt-color;
        font-family: $title-font;
        text-align: center;
        letter-spacing: -8px;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;
}

.resto{
    width: $square-width;
    height: $square-height;
    border: 2px black solid;
    margin: 60px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: $shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                $shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity);
    &--note{
        background-color: $note-bg-clr;
        color: $note-txt-clr;
        font-family: $note-menu-font;
        text-transform: uppercase;
        h2{
            font-family: $note-font;
            text-transform: initial;
        }
    }
    &--chic{
        background-color: $chic-bg-clr;
        color: $chic-txt-clr-1;
        font-family: $chic-menu-font;
        h2{
            background: linear-gradient(to right bottom, $chic-txt-clr-1 0%, $chic-txt-clr-2 100%);
	        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: $chic-font;
        }
    }
    &--delice{
        background-color: $delice-bg-clr;
        color: $delice-txt-clr-2;
        font-family: $del-pal-menu;
        h2{
            background: linear-gradient(to right bottom, $delice-txt-clr-1 0%, $delice-txt-clr-2 100%);
	        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: $delice-font;
        }
    }
    &--palette{
        background-color: $palette-bg-clr;
        color: $palette-txt-clr-1;
        font-family: $del-pal-menu;
        h2{
            background: linear-gradient(to right bottom, $palette-txt-clr-1 0%, $palette-txt-clr-2 100%);
	        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: $palette-font;
        }
    }
    &_name{
        width: 420px;
        height: 210px;
        text-align: center;
        border: 2px black solid;
    }
}

.soon{
    @include omf-txt-site;
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    border-radius: 20px;
    p{
        font-size: 2.5rem;
    }
}

footer{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include omf-txt-site;
    font-size: 2rem;
}