a{
    text-decoration: none;
}

main{
    width: 80%;
    margin: 5% 10% 7% 10%;
}

header{
    @include omf-header;
    a{
        text-decoration: none;
        color: $main-txt-color;
    }
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include omf-txt-site ($footer-font-size);
}