header{
    @include omf-header;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;
}

.resto{
    width: $square-width;
    height: $square-height;
    border: 2px black solid;
    margin: 60px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $menu-size-home;
    box-shadow: $shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size $shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                -1*$shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity),
                $shadow-size -1*$shadow-size $shadow-size rgba(0,0,0, $shadow-opacity);
    &--note{
        background-color: $note-bg-clr;
        color: $note-txt-clr;
        font-family: $note-menu-font;
        text-transform: uppercase;
        h2{
            @include note-name($resto-size-home);
            margin-top: 0px;
        }
        strong{
            @include music-note ($music-size-home);
            margin:0px;
        }
    }
    &--chic{
        background-color: $chic-bg-clr;
        color: $chic-txt-clr-1;
        font-family: $chic-menu-font;
        h2{
            @include chic-name ($resto-size-home);
        }
    }
    &--delice{
        background-color: $delice-bg-clr;
        color: $delice-txt-clr-2;
        font-family: $del-pal-menu;
        h2{
            @include delice-name (1.5*$resto-size-home);
        }
    }
    &--palette{
        background-color: $palette-bg-clr;
        color: $palette-txt-clr-1;
        font-family: $del-pal-menu;
        h2{
            @include palette-name (1.5*$resto-size-home)
        }
    }
    &_name{
        width: 420px;
        height: 210px;
        text-align: center;
    }
}

.soon{
    @include omf-txt-site ($soon-font-size);
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    border-radius: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include omf-txt-site ($footer-font-size);
}