.main-menu{
    @include shadow($shadow-size);
    @include small-screen{
        width: 90%;
        margin-bottom: 100px;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5%;
    }
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0% 5% 0% 5%;
    }
    p{
        font-size: $items-font-size;
        padding-right: 5px;
        @include small-screen{
            font-size: 0.7*$items-font-size;
        }
    }
}

.resto-header{
    text-align: center;
    padding-top: 2%;
}

.course-name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img{
    height: 14px;
    width: fit-content;
    @include small-screen{
        display: none;
    }
}

h2{
    text-align: center;
    margin: 0;
}

.resto-footer{
    text-align: center;
    padding-bottom: 10%;
}